@model Spring2026_Project3_jcasuru.Models.ActorMovie

@{
    ViewData["Title"] = "Actor Movie Details";
}

<h1>Details</h1>

<div>
    <h4>Actor Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="ActorMovie" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="ActorMovie">Back to List</a>
</div>
